<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Schedule detail</title>
</head>

<body>
<script language="text/css">
	.label {
			    font-weight:bold;
		}
</script>
<div align="left" style="padding-left:40px;">
	
		</p>
    	<br/>
		<span style="font-weight:bold">Date </span> : ${eventDate}</span>
        <br/>
		<span style="font-weight:bold">Time </span> : ${shiftStartTime}- ${shiftEndTime}
        <br/>
        <span style="font-weight:bold">Employee Name </span> : ${firstname} ${lastname}
        
        <br/>
        <span style="font-weight:bold">Event Name </span> : ${eventName}
        <br/>
		<span style="font-weight:bold">Employee Position </span> : ${employeePosition}
        <br/>
		<span style="font-weight:bold">Location </span> : ${locName},${locAddress1},${locAddress2},${locCity},${locState}-${locZipcode}
        <br/>
		
        <br/>
		<br/>
		
		Check your online schedule for further event detail http://demo1.superiortechnology.com/schedulecloud/ui/login/login.jsf 
		<br/>
        <br/>
		Thank You
</div>
</body>
</html>
