<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Invitation</title>
</head>
<script language="text/css">
	
</script>
<body>
<div align="left">
	<span style="padding-left:40px;">Hi,</span>
</div>
<div align="left" style="padding-left:40px;">
	
    	<p >
        	
			Forget your password for Schedule-Cloud? please use the following password to login. 
		</p>
    	<br/>
        <span >password : ${temp_password}</span>
        <br/>
        <br/>
        <span>Thank You</span>
        <br/>
        <span>Schedule-Cloud Team</span>
        <br/>
        
        

        
</div>
</body>
</html>
